body {
    background-image: url("https://images.alphacoders.com/515/515344.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.instructions {
    /* Peach puff color? Weird name */
    background-color: #FFDAB9;
    /* Similar color to background in target */
    color: #2E8B57;
}

.scoreboard {
    line-height: 20px;
    /* Cyan color */
    background-color: #00FFFF;
}

.target {
    /* medium seagreen */
    background-color: #2E8B57;
}

.currentTotal {
    /* LightSeaGreen */
    background-color: #20B2AA;
    color: #ffffff;
}

.scoreSize {
    font-size: 30px;
}

.row {
    margin: 0;
}

.container-fluid {
    padding: 0;
}